<div id="<%= dom_id car %>">
  <p>
    <strong>User:</strong>
    <%= car.user_id %>
  </p>

  <p>
    <strong>Carname:</strong>
    <%= car.carname %>
  </p>

  <p>
    <strong>Carcolor:</strong>
    <%= car.carcolor %>
  </p>

  <p>
    <strong>Carnumber:</strong>
    <%= car.carnumber %>
  </p>

</div>
