<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.select :user_id, User.all.pluck(:name,:id)%>
  </div>

  <div>
    <%= form.label :carname, style: "display: block" %>
    <%= form.text_field :carname %>
  </div>

  <div>
    <%= form.label :carcolor, style: "display: block" %>
    <%= form.text_field :carcolor %>
  </div>

  <div>
    <%= form.label :carnumber, style: "display: block" %>
    <%= form.number_field :carnumber %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
